<style>
  </style>
<div class="message-content">
  <p>Olá, {{name}}</p>
  <p>Houve uma solicitacao de mudanca de senha para sua conta.</p>
  <p>Utilize este link para modificar sua senha no sistema GO BARBER:</p>
  <p><a href="{{link}}">Recuperar minha senha</a></p>
  <p>Atenciosamente</p>
  <br/>
  <p><strong>Equipe Go Barber</strong></p>
</div>
